h1{
    text-align: center;
    font-family: monospace;
    font-size: 8em;
    color: rgb(4, 63, 139);
}

page{
    background-color: rgb(152, 220, 236);
}

p{
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: rgb(4, 63, 139);
}


input{
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: rgb(97, 157, 236);
    margin: 0 auto;
    display: block;

    
}

button{
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: rgb(4, 63, 139);
    margin: 0 auto;
    display: block;
}

img{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 400px;
}

table{
    margin: 0 auto;
    font family: monospace;
    text-align: center;
    border: 5px solid black;
    border-spacing: 50px;
    font-size: 2em;
    color: rgb(4, 63, 139);

}
